<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:component-scan base-package="account"></context:component-scan>
	<context:property-placeholder
		location="classpath:config/value.properties" />
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.driverClass}"></property>
		<property name="url" value="${db.url}"></property>
		<property name="username" value="${db.username}"></property>
		<property name="password" value="${db.password}"></property>
	</bean>
	
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:config/mybatisConfig.xml"></property>
		<property name="mapperLocations">
			<list>
				<value>classpath:account/mapper/AccountMapper.xml</value>
			</list>
		</property>
	</bean>
	
	<mybatis-spring:scan base-package="account.mapper"/>
	
	<!-- 트랜젝션을 설정하기 위한 태그 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 트렌젝션 세팅 -->
	<!-- 트렌젝션으로 걸어줄 어드바이스를 생성한다. -->
<!-- 	
	트렌젝션 xml방식
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			런타임오류가 발생하면 롤백을 처리하겠다(돈을 돌려주겠다)
			<tx:method name="transfer" rollback-for="RuntimeException"/>
		</tx:attributes>
	</tx:advice> 
	언제 어드바이스를 실행하게 할지. (실행할때)
	<aop:config>
		<aop:pointcut expression="execution(public int transfer(..))" id="controllerPt"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="controllerPt"/>
	</aop:config> -->	
	
	<!-- 트렌젝션 어노테ㅣ션 방식 -->
	
	<tx:annotation-driven/>
	
</beans>
